@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
  /* Colors */
  --Midnight-Blue: #021024;
  --Dark-Sapphire-Blue: #052659;
  --Teal-Blue: #548383;
  --Light-Blue: #7da0ca;
  --Baby-Blue: #c1e8ff;

  --Orange-yellow: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 3rem;
  padding-left: 3rem;
}

.sub-title {
  font-family: "Space Grotesk";
  color: orange;
  font-size: 2rem;
}

.icons-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 4rem 0rem 8rem 0rem;
}

.title-container {
  margin: 0rem 12rem 0rem 0rem;
  white-space: pre-line;
}
.title-container > h1 {
  font-family: "Space Grotesk";
  font-size: 4rem;
  color: orange;

  line-height: 1.8rem;
}
.title-container > p {
  font-family: "Space Grotesk";
  color: orange;
  font-size: 1.2;
}

.title-container button {
  font-family: "Space Grotesk";
  color: white;
  margin-top: 4rem;
  border: solid 1px var(--Light-Pink);
  border-radius: 1rem;
  width: 8rem;
  height: 2.3rem;
  cursor: pointer;
  box-shadow: 0px 0px 9px 0px orange;
  transition: 0.3s;
  background-color: orange;
  font-weight: 800;
}

.left-background {
  background-color: white;
  width: 30%;
}
.perfil-photo {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  z-index: 2;
}

img {
  width: 26rem;
  height: 26rem;
  border-radius: 22rem;
  position: relative;
  z-index: 2;
}

.background-ball{
  background: url(../img/blob.svg) no-repeat;
  position: absolute;
  width: 37rem;
  height: 38rem;
  left: 52rem;
  top: 8rem;
  z-index: 1;
}

.background-wave-top {
  background: url(../img/top.svg) no-repeat;
  background-size: cover;
  height: 16rem;
}

.background-wave-bottom {
  background: url(../img/bottom.svg) no-repeat;
  background-size: cover;
  height: 25rem;
}

.skills-paragraph {
  text-align: center;
  font-family: "Space Grotesk";
  color: white;
  font-size: 3rem;
  margin-bottom: 5rem;
  font-weight: 700;
}

.container-skills {
  height: 13rem;
  background-color: #ffb000;
  padding: 3rem;
}

.container-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}

.ctn-social {
  width: 90px;
  height: 90px;
  margin: 0 30px;
  transform: rotate(-30deg) skew(25deg);
  background: #ccc;
  cursor: pointer;
  border-radius: 10px;
}

span {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  border-radius: 10px;
}

.ctn-social span:nth-child(5) {
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ctn-social:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}

.ctn-social:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}

.ctn-social:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}

.ctn-social:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}

.ctn-social:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}

.ctn-social:nth-child(1) span {
  background: #ff6f00;
}

.ctn-social:nth-child(2) span {
  background: #005eff;
}

.ctn-social:nth-child(3) span {
  background: #fff700;
}

.ctn-social:nth-child(4) span {
  background: #ff7300;
}

.ctn-social:nth-child(5) span {
  background: #000000;
}
.ctn-social:nth-child(6) span {
  background: #74c0fc;
}
.ctn-social:nth-child(7) span {
  background: #93c745;
}
.ctn-social:nth-child(8) span {
  background: #7012f0;
}

.projects-container {
  min-height: 100vh;
  height: 13rem;
  margin-top: 1rem;
}

.project-title {
  text-align: center;
  font-family: "Space Grotesk";
  font-size: 3rem;
  font-weight: 700;
  color: orange;
}
.ball-container {
 
}

